@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Light.woff2') format("woff2"),
       url('../fonts/Quicksand-Light.woff') format("woff"),
       url('../fonts/Quicksand-Light.ttf') format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.woff2') format("woff2"),
       url('../fonts/Quicksand-Regular.woff') format("woff"),
       url('../fonts/Quicksand-Regular.ttf') format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Medium.woff2') format("woff2"),
       url('../fonts/Quicksand-Medium.woff') format("woff"),
       url('../fonts/Quicksand-Medium.ttf') format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.woff2') format("woff2"),
       url('../fonts/Quicksand-Bold.woff') format("woff"),
       url('../fonts/Quicksand-Bold.ttf') format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Linearicons-Free';
  src: url('../fonts/Linearicons-Free.woff2') format("woff2"),
       url('../fonts/Linearicons-Free.woff') format("woff"),
       url('../fonts/Linearicons-Free.ttf') format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.lnr-magic-wand:before {
	content: "\e803";
}

.lnr-cloud-download:before {
	content: "\e80b";
}

.lnr-user:before {
	content: "\e82a";
}

.lnr-home:before {
	content: "\e800";
}

.lnr-lock:before {
	content: "\e80f";
}

.lnr-chart-bars:before {
	content: "\e843";
}

.lnr-star:before {
	content: "\e814";
}

.lnr-book:before {
	content: "\e828";
}

.lnr-exit:before {
	content: "\e820";
}

.lnr-upload:before {
	content: "\e866";
}

.lnr-heart:before {
	content: "\e813";
}

.lnr-envelope:before {
	content: "\e818";
}

.lnr-license:before {
	content: "\e822";
}

.lnr-users:before {
	content: "\e82b";
}

.lnr-cart:before {
	content: "\e82e";
}

.lnr-phone:before {
	content: "\e831";
}

.lnr-map-marker:before {
	content: "\e833";
}

.lnr-bubble:before {
	content: "\e83f";
}

.lnr-leaf:before {
	content: "\e849";
}
.lnr-briefcase:before {
	content: "\e84c";
}
.lnr-smile:before {
	content: "\e854";
}

.lnr-alarm:before {
	content: "\e858";
}

.lnr-magnifier:before {
	content: "\e86f";
}

.lnr-chevron-down:before {
	content: "\e874";
}
.lnr-chevron-left:before {
	content: "\e875";
}
.lnr-chevron-right:before {
	content: "\e876";
}

.lnr-clock:before {
	content: "\e864";
}

.lnr-trash:before {
	content: "\e811";
}

.lnr-dice:before {
	content: "\e812";
}

.lnr-cog:before {
	content: "\e810";
}

.lnr-eye:before {
	content: "\e81b";
}

.lnr-phone-handset:before {
	content: "\e830";
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9mugnd');
  src:  url('../fonts/icomoon.eot?9mugnd#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?9mugnd') format('truetype'),
        url('../fonts/icomoon.woff?9mugnd') format('woff'),
        url('../fonts/icomoon.svg?9mugnd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
