html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.reset-a {
  text-decoration: none;
  display: inline-block;
}

.reset-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reset-li {
  display: inline-block;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.lnr {
  margin-right: 30px;
  color: #7e8fa1;
  font-size: 20px;
  position: relative;
}

.lnr-descr {
  font-size: 0;
}