@import 'fonts';
@import 'vars';
@import 'global';
@import 'products';




// start header
.header {

  background-color: #eef1f3;

  //start header__top
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0;
    min-height: 100px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__logo {
    margin-left: 7px;
  }

  &__btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    outline-color: #7e8fa1;
    padding: 0;
    transition: all 0.5s;
    outline: transparent;
    position: relative;

    &:hover {
      transform: scale(1.25);
    }

    &:focus {
      color: $blue;
    }
  }

  &__number {
    position: absolute;
    right: -14px;
    top: -15px;
    width: 26px;
    height: 22px;
    border-radius: 11px;
    background-color: #ff6a6c;
    font-size: 14px;
    color: #ffffff;
    padding-top: 3px;
    @include f500;
    &--g {
      background-color: #62d03b;
      right: -16px;
    }

    &--b {
      background-color: $blue;
      right: -18px;
    }
  }

  &__link-reg {
    margin-right: 50px;
    min-height: 36px;
    border-radius: 18px;
    background-color: $blue;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 17px;
    font-weight: 500;
    transition: all 0.5s;
    @include reset-a;

    &:hover {
      background-color: #0030de;
      color: #ffffff;
    }

    &:active {
      box-shadow: 0 0 0 4px $blue;
    }
  }

  &__img-ava {
    max-width: 50px;
    max-height: 50px;
    margin: 0 22px 0 18px;

  }

  &__info {
    max-width: 100px;
    width: 100%;
  }

  &__name {
    color: #333333;
    @include f500;
    margin-bottom: 3px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  &__balance {
    color: $blue;
    text-decoration: none;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  // end header__top

  // start header__bottom
  &__bottom {
    min-height: 80px;
    background-color: #ffffff;
    padding: 17px 0;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__list {
    @include reset-ul;
  }

  &__item {
    margin-right: 30px;
    @include reset-li;

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    text-transform: uppercase;
    color: $black;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s;
    @include reset-a;

    &:hover {
      color: $blue;
    }

    &:focus {
      outline-color: $blue;
      transition: none;
    }

    &:active {
      color: red;
    }
  }

  &__form {
    position: relative;
  }

  &__search {
    max-width: 360px;
    max-height: 46px;
    border-radius: 23px;
    border: 1px solid #d9dfe5;
    padding: 15px 80px 16px 25px;
    outline: transparent;
    margin-left: 100px;

    &:focus {
      box-shadow: 0 0 0 2px $blue;
    }

  }

  &__search-btn {
    position: absolute;
    max-width: 70px;
    width: 100%;
    min-height: 46px;
    background-color: $blue;
    cursor: pointer;
    border: transparent;
    border-radius: 23px;
    position: absolute;
    right: 0;
    top: 0;
    outline-color: $blue;
    transition: all 0.3s;

    &:hover {
      background-color: #0030de;
    }
  }
}

// end header__bottom
// end header

// start hero section

.hero {
  min-height: 726px;
  background: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  position: relative;
  margin-bottom: 190px;

  &__inner {
    text-align: center;
    padding-top: 185px;
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 38px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    color: #f3f3f8;
    margin-bottom: 68px;
  }

  &__box {
    position: relative;
  }

  &__box-inner {
    min-height: 135px;
    width: 100%;
    padding: 37px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    position: absolute;
    bottom: -285px;

    &::after,
    &::before {
      content: '';
      max-width: 1110px;
      min-height: 20px;
      width: 100%;
      position: absolute;
      top: -13px;
      right: 15px;
      background-color: rgba(255, 255, 255, 0.5);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:before {
      max-width: 1080px;
      min-height: 30px;
      top: -26px;
      right: 30px;
    }
  }

  &__search {
    max-width: 610px;
    width: 100%;
    min-height: 55px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dcdcdc;
    padding: 20px 30px;
    color: #676767;
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 2px $blue;
    }
  }

  &__select {
    background-image: url('../images/icons/lnr-chevron-down.svg');
    background-repeat: no-repeat;
    background-position: 161px center;
    background-color: transparent;
    max-width: 195px;
    width: 100%;
    min-height: 60.35px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #dcdcdc;
    padding-left: 20px;
    color: $grey;
    margin-left: -9px;
    appearance: none;
    outline: transparent;
    cursor: pointer;

    &:focus {
      box-shadow: 0 0 0 2px $blue;
    }
  }

  &__search-link {
    max-width: 223px;
    width: 100%;
    min-height: 55px;
    border-radius: 4px;
    background-color: #0674ec;
    text-align: center;
    color: #ffffff;
    line-height: 58px;
    margin-left: 27px;
    transition: all 0.5s;
    @include reset-a;

    &:hover {
      background-color: #0030de;
    }

    &:focus {
      transition: none;
    }
  }

}

//  end hero section




//tag__box
.tag {

  min-height: 92px;
  box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 50px;

  &__box {
    display: flex;
    padding: 30px 0 30px 30px;
    flex-wrap: wrap;
  }


  &__btn {
    border-radius: 16px;
    background-color: #f1f3f6;
    border: transparent;
    min-height: 32px;
    color: #747b86;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    outline-color: #cccccc;
    transition: all 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $blue;
      color: #ffffff;
    }
  }

  &__btn--size-1 {
    min-width: 90px;
  }

  &__btn--size-2 {
    min-width: 112px;
  }

  &__btn--size-3 {
    min-width: 132px;
  }

  &__btn--size-4 {
    min-width: 136px;
  }

  &__btn--size-5 {
    min-width: 102px;
  }
}

// end tag box
//end realese article


//start info section 
.statistic {
  min-height: 350px;
  background-color: rgba(#0d0f13, 0.9);
  padding: 90px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 154px;
  }

  &__number {
    font-size: 36px;
    color: #feb71d;
    margin-bottom: 15px;
    text-align: center;

    &--blue {
      color: #58c9e9;
    }

    &--green {
      color: #77de51;
    }

    &--orange {
      color: #ff6a6d;
    }
  }

  &__subtitle {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
  }

}

//end info section

// start choose section 

.choose {
  padding: 120px 0;

  &__title {
    text-align: center;
    font-size: 36px;
    color: #000000;
    margin-bottom: 25px;

    &--m {
      color: $blue;
    }
  }

  &__subtitle {
    text-align: center;
    color: $grey;
    max-width: 672px;
    width: 100%;
    margin: 0 auto 60px;
    line-height: 27px;
  }

}

//end choose section

//start offers section
.offers {

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    background-image: url('../images/bg-offers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 960px;
    width: 100%;
    min-height: 561px;
    padding: 85px 0;

    &--m {
      background-image: url('../images/bg-offfer2.jpg');
    }
  }

  &__item {
    margin: 0 auto;
    max-width: 578px;
    text-align: center;
  }

  &__img {
    margin-bottom: 49px;
    max-width: 120px;
    min-height: 120px;
  }

  &__title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  &__subtitle {
    color: #ffffff;
    line-height: 30px;
    margin-bottom: 45px;
  }

  &__link {
    background-color: #ffffff;
    color: $blue;
    border: 0;
    cursor: pointer;
    margin-right: 0;
    &:hover {
      background-color: $viol;
      color: #ffffff;
    }

    &--m {
      color: $viol;
      padding: 17px 40px;

      &:hover {
        background-color: $blue;
        color: #ffffff;
      }
    }
  }

}

//end offers section

// start feedback section

.feedback {
  padding: 120px 0;

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  &__inner {
    padding: 43px 40px;
  }


  &__box {
    max-width: 555px;
    max-height: 315px;
    overflow: auto;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    background-color: #ffffff;
    margin-right: 30px;

    &--m {
      border-left: 2px solid $blue;
      border-radius: 1px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 29px;
    text-decoration: none;
  }

  &__ava {
    margin-right: 15px;
  }

  &__name {
    font-size: 20px;
    color: #000000;
    max-width: 250px;
    margin-right: auto;
  }

  &__function {
    color: $grey;
    font-size: 16px;
    display: block;
    margin-top: 10px;
  }

  &__txt {
    color: $grey;
    line-height: 30px;
  }

  &__btn {
    background-color: $blue;
    color: #ffffff;
    margin: 0 auto;
    display: block;
  }

}







//end feedback section