@import 'vars';
@import 'global';
@import 'products';




// start header
.header {

  background-color: #eef1f3;

  //start header__top
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    min-height: 100px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__logo {
    margin-left: 7px;
  }

  &__btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    outline-color: #7e8fa1;
    padding: 0;
    transition: all 0.5s;
    outline: transparent;
    position: relative;

    &:hover {
      transform: scale(1.25);
    }

    &:focus {
      color: $blue;
    }
  }

  &__link-reg {
    margin-right: 50px;
    max-width: 140px;
    width: 100%;
    min-height: 36px;
    border-radius: 18px;
    background-color: $blue;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 17px;
    font-weight: 500;
    transition: all 0.5s;

    &:hover {
      background-color: #0030de;
      color: #ffffff;
      transition: all 0.5s;
    }

    &:active {
      box-shadow: 0 0 0 4px $blue;
    }
  }

  &__link-ava {
    margin: 0 22px 0 18px;
    transition: all 0.5s;
    border-radius: 50%;

    &:hover {
      box-shadow: 0 0 3px 4px rgba(233, 152, 152, 0.5);
      border-radius: 50%;
      transition: all 0.5s;
    }
  }

  &__info {
    max-width: 100px;
    width: 100%;
  }

  &__name {
    color: #333333;
    @include f500;
    margin-bottom: 3px;

    &:hover {
      text-decoration: underline;

    }
  }

  &__balance {
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }

  // end header__top

  // start header__bottom
  &__bottom {
    min-height: 80px;
    background-color: #ffffff;
    padding: 17px 0;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    text-transform: uppercase;
    color: $black;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.5s;

    &:hover {
      color: $blue;
      transition: all 0.3s;
    }

    &:focus {
      outline-color: $blue;
      transition: none;
    }

    &:active {
      color: red;
    }
  }

  &__form {
    position: relative;
  }

  &__search {
    max-width: 360px;
    width: 100%;
    max-height: 46px;
    border-radius: 23px;
    border: 1px solid #d9dfe5;
    padding: 16px 80px 16px 25px;
    outline: transparent;
    margin-left: 100px;

    &:focus {
      box-shadow: 0 0 0 2px $blue;
    }

  }

  &__search-btn {
    position: absolute;
    max-width: 70px;
    width: 100%;
    min-height: 46px;
    background-color: $blue;
    cursor: pointer;
    border: transparent;
    border-radius: 23px;
    position: absolute;
    right: 0;
    top: 0;
    outline-color: $blue;
    transition: all 0.3s;

    &:hover {
      background-color: #0030de;
      transition: all 0.3s;
    }
  }

  .lnr-magnifier {
    padding-left: 3px;
    font-size: 15px;
    margin: 0 auto;
    color: #ffffff;

  }
}

// end header__bottom
// end header

// start create section

.create {
  min-height: 726px;
  background: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  position: relative;
  margin-bottom: 190px;

  &__inner {
    text-align: center;
    padding-top: 185px;
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 38px;
  }

  &__text {
    font-size: 20px;
    font-weight: 500;
    color: #f3f3f8;
    margin-bottom: 68px;
  }

  &__box {
    position: relative;
  }

  &__box-inner {
    min-height: 135px;
    width: 100%;
    padding: 37px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    position: absolute;
    bottom: -285px;

    &::after,
    &::before {
      content: '';
      max-width: 1110px;
      min-height: 20px;
      width: 100%;
      position: absolute;
      top: -13px;
      right: 15px;
      background-color: rgba(255, 255, 255, 0.5);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:before {
      max-width: 1080px;
      min-height: 30px;
      top: -26px;
      right: 30px;
    }
  }

  &__search {
    max-width: 610px;
    width: 100%;
    min-height: 55px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dcdcdc;
    padding: 20px 30px;
    color: #676767;
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 2px $blue;
    }
  }

  &__select {
    background-color: transparent;
    max-width: 195px;
    width: 100%;
    min-height: 60.35px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dcdcdc;
    padding-left: 20px;
    color: $grey;
    border-left-style: none;
    margin-left: -4px;
    appearance: none;
    position: relative;
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 2px $blue;
    }
  }

  .lnr-chevron-down {
    color: #676767;
    font-size: 12px;
    position: absolute;
    right: 285px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__search-link {
    max-width: 223px;
    width: 100%;
    min-height: 55px;
    border-radius: 4px;
    background-color: #0674ec;
    text-align: center;
    color: #ffffff;
    line-height: 58px;
    margin-left: 27px;
    transition: all 0.5s;

    &:hover {
      background-color: #0030de;
      transition: all 0.5s;
    }

    &:focus {
      transition: none;
    }
  }

}

.create-default {
  color: #f3f3f8;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 60px;
}

//  end create section


// start advantages section
.advantages {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    display: block;
    margin: 0 auto 35px;
    height: 112px;
  }

  &__item {
    margin-bottom: 121px;
    max-width: 360px;
    width: 100%;
    min-height: 310px;
    padding: 40px 29px 49px;
    transition: all 0.5s;

    &:hover {
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      background-color: #ffffff;
      transition: all 0.5s;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    color: #000000;
  }

  &__subtitle {
    text-align: center;
    color: $grey;
    font-size: 16px;
    line-height: 30px;
  }

}

//end advantages section

//start release article

//tag__box
.tag {

  min-height: 92px;
  box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 50px;

  &__box {
    display: flex;
    padding: 30px 0 30px 30px;
  }


  &__btn {
    border-radius: 16px;
    background-color: #f1f3f6;
    border: transparent;
    min-height: 32px;
    width: 100%;
    color: #747b86;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    outline-color: #cccccc;
    padding: 0 8px;
    transition: all 0.3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $blue;
      color: #ffffff;
      transition: all 0.3s;
    }
  }

  &__btn--size-1 {
    max-width: 90px;
  }

  &__btn--size-2 {
    max-width: 112px;
  }

  &__btn--size-3 {
    max-width: 132px;
  }

  &__btn--size-4 {
    max-width: 136px;
  }

  &__btn--size-5 {
    max-width: 102px;
  }
}

// end tag box
.box {
  &__top--m {
    margin-bottom: 30px;
  }

  &__inner--m {
    padding: 38px 30px;
    min-height: 110px;
  }

  &__filter {
    margin-left: auto;
    margin-right: 25px;
    color: #747b86;
  }

  &__btn {
    background-color: transparent;
    border: transparent;
    padding: 0;
    cursor: pointer;
    outline-color: $grey;
  }

  &__img {
    padding-top: 3px;
  }

}

.release {
  padding: 120px 0;
  background-color: #f6f7fb;
}

//end products article